{% extends "main/base.html" %}

{% block title %} Manage Cart {% endblock %}

{% block content %}

{% include "main/includes/navbar.html" %}
<div class="float-end">
    <button class="btn btn-success">Checkout</button>
</div>
<div class="row row-cols-1 row-cols-md-3">

    {% for item in cart_items %}
    <div class="card" style="width: 18rem;">
        <img class="product-image" src="{{ item.product.thumbnail.url }}" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.product.title }}</h5>
        </div>
        <div class="card-footer">
            <h3>{{ item.product.price }}</h3>
            <h5>items in cart: {{ item.count }}</h5>
            <a href="{% url 'increment_item' product_id=item.product.id %}" class="btn btn-secondary">+</a>
            <a href="{% url 'decrement_item' product_id=item.product.id %}" class="btn btn-secondary">-</a>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .product-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>

{% endblock %}