{% extends "main/base.html" %}

{% block title %}Products{% endblock %}

{% block content %}

{% include "main/includes/navbar.html" %}

<div class="row row-cols-1 row-cols-md-3">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="product-image" src="{{ product.thumbnail.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
        </div>
        <div class="card-footer">
            <h3>${{ product.price }}</h3>
            <a href="{% url 'increment_item' product_id=product.id %}" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    {% endfor %}
</div>


<style>
    .product-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>

{% endblock %}